
body {
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1em 1.875em;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

*, *:after, *:before {
  box-sizing: border-box;
}

header {
  padding: 2.875em 1.875em 1.875em;
}

.item {
  padding: 15px;
  background: rgba(0,0,0,0.05);
  display: flex;
}

#app {
  margin: 10px;
}

#app input {
  padding: 2px 7px;
  width: 260px;
  height: 34px;
  outline: none;
  font-weight: bold;
  margin-bottom: 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.grid li {
  flex: 1;
}

.grid li img{
  width: 200px;
  box-shadow: 0 10px 20px -4px rgba(0,0,0,0.6);
}

.grid figure {
  padding: 15px;
}

.grid figcaption {
  padding: 25px;
}

