<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>color-Palette demo</title>
  <style>
    .colors {
      display: flex;
    }
    .color {
      height: 50px;
      width: 50px;
    }
  </style>
</head>
<body>
  <a href="https://github.com/fakelbst/color-palettes"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  <img src="demo.jpg" alt="demo"  width="150" height="150">
  <div id="app">
    <input type="number" v-model="colorCount" min=2 max=256>
    <div class="colors">
      <div class="color" v-for="c in colors" v-bind:style="{background: '#'+c}"></div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
  <script src="../dist/color-palettes.min.js"></script>
  <script>
    let a = new Vue({
      el: '#app',
      data: {
        colorCount: 5,
        colors: []
      },
      ready: function(){
        var image = new Image()
        image.src = 'demo.jpg'
        image.onload = () => {
          let colorPalette = new ColorPalettes(image);
          colorPalette.getPalettes({
            colorCount: this.colorCount,
            format: 'hex'
          }).then((r) => {
            this.colors = r;
          });
        };
      }
    });

    a.$watch('colorCount', function(){
        let colorPalette = new ColorPalettes('demo.jpg');
        colorPalette.getPalettes({
          colorCount: this.colorCount,
          format: 'hex'
        }).then(function(r){
          a.colors = r;
        })
      }, {
    });
  </script>
</body>
</html>
